main.tela-home h1 {
    font-family: Arial;
    font-size: 7.3vw;
    font-weight: 900;
    text-align: center;
}

div label.label-login {
    font-weight: 600;
    font-size: 4vw;
    margin-top: 1vw;
}

div.form-group input {
    height: 9vw;
}

div.form-group small {
    font-size: 2.8vw;
}

div.form-check {
    display: flex;
}

div.form-check input {
    width: 3.2vw;
}

div.form-check label {
    line-height: 10.9vw;
    padding-left: 1.5vw;
}

div.form-group:last-child {
    text-align: center;
}

button.btn {
    display: inline-block;
    padding: 1vw 31vw;
    font-size: 4.5vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 2vw;
    box-shadow: 0 1vw #999;
}

button.btn:hover {
    background-color: #3e8e41;
}

button.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 1vw #666;
    transform: translateY(1vw);
}