                    
                    <header class="header col-sm-12 col-md-12 col-lg-12">
                        <div class="header">
                            <div id="icon-menu">
                                <label for="toggle"><a><img src="img/home/button-menu.png" id="icon-hamburguer"></a></label>
                            </div>
                            <div id="logo-pet">
                                <a href="home"><img src="img/home/logo.svg" id="icon-logo"></a>
                            </div>
                            <div class="header-login">
                                <a href="login">Login</a>
                            </div>
                        </div>        
                    </header>

                    <nav class="nav-menu col-sm-12 col-md-12 col-lg-2 p-0">
                        <input type="checkbox" id="toggle"/>

                        <div class="menu">
                            <div class="menu-itens">
                                <ul>
                                    <a>
                                        <li>
                                            <p>Cadastre-Se</p>
                                        </li>
                                    </a>
                                    <a>
                                        <li>
                                            <p>Clinicas Cadastradas</p>
                                        </li>
                                    </a>
                                    <a>
                                        <li>
                                            <p>Tinder Pet</p>
                                        </li>
                                    </a>
                                    <a>
                                        <li>
                                            <p>Quem Somos</p>
                                        </li>
                                    </a>
                                    <a>
                                        <li>
                                            <p>Fale Conosco</p>
                                        </li>
                                    </a>
                                </ul>
                            </div>
                            <div class="redes-sociais">
                                <a href="#"><img class="icon-rede-social" src="img/home/iconFacebook.png" id="iconFacebook"/></a>
                                <a href="#"><img class="icon-rede-social" src="img/home/iconInstagram.png" id="iconInstagram"/></a>
                                <a href="#"><img class="icon-rede-social" src="img/home/iconTwitter.png" id="iconTwitter"/></a>
                            </div>
                        </div>
                    </nav>